{% extends 'INSSETBlogBundle:Back:layout.html.twig' %}

{% block page_title %}{{ parent() }} - Publication{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inssetblog/back/article/css/publish.css') }}"/>
{% endblock %}

{% block link_article_publish %}class="active"{% endblock %}

{% block sections %}
    <section id="articles" class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <h2 class="display-2 text-center">Liste de mes articles publiés ou pas</h2>
        {% for article in articles %}
            <article class="article well form-check" data-id="{{ article.id }}">
                <input type="checkbox" id="{{ article.id }}" class="form-check-input" {% if article.published == true %}checked="checked"{% endif %}/>
                <label for="{{ article.id }}" class="form-check-label">{{ article.title }}</label>
            </article>
        {% else %}
            <article class="article well">
                <p id="article_title_alone">Il n'y a pas encore d'article rédigé...</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var updateArticleTagURL = '{{ path('insset_blog_back_article_ajax_publish') }}';
    </script>
    <script type="text/javascript" src="{{ asset('bundles/inssetblog/back/article/js/publish.js') }}"></script>
{% endblock %}
