{% extends 'INSSETBlogBundle:Back:layout.html.twig' %}

{% block page_title %}{{ parent() }} - Index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inssetblog/back/default/css/main.css') }}"/>
{% endblock %}

{% block link_default_index %}class="active"{% endblock %}

{% block aside_left %}
    <div id="articles" class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
        <h2 class="display-2">Liste de mes articles publiés</h2>
        {% for article in articles %}
            <aside class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><p><a href="{{ path('insset_blog_front_default_index', { 'id': article.id }) }}">{{ article.title ~ ' - publié le ' ~ article.date|date('d/m/Y \\à H:i:s') }}</a></p></aside>
        {% else %}
            <aside class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><p>Il n'y a pas encore d'article publié...</p></aside>
        {% endfor %}
    </div>
{% endblock %}

{% block sections %}
    <section id="comments" class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
        <h2 class="display-2 text-center">Liste des commentaires sur mes articles</h2>
        {% for comment in comments %}
            <article class="comment well" data-id="{{ comment.id }}">
                <p class="comment_text">{{ comment.text }}</p>
                <p class="comment_date text-right">rédigé sur l'article "{{ comment.title ~ '" le ' ~ comment.date|date('d/m/Y \\à H:i:s') }}</p>
                <button type="button" class="btn btn-primary">Modifier</button><!--
                --><button type="button" class="btn btn-danger">Supprimer</button>
            </article>
            {% else %}
                <article class="comment well">
                    <p id="comment_text_alone">Il n'y a pas encore de commentaire sur mes articles...</p>
                </article>
            {% endfor %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var updateCommentTagURL = '{{ path('insset_blog_back_comment_ajax_edit') }}';
        var deleteCommentTagURL = '{{ path('insset_blog_back_comment_ajax_delete') }}';
    </script>
    <script type="text/javascript" src="{{ asset('bundles/inssetblog/back/default/js/script.js') }}"></script>
{% endblock %}
