{% extends 'INSSETBlogBundle::layout.html.twig' %}

{% block page_title %}{{ parent() }} - Index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inssetblog/front/default/css/main.css') }}"/>
{% endblock %}

{% block sections %}
    <section id="article_comments" class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
    <h2 class="display-2 text-center">Dernier article</h2>
    {% if article is not null %}
        <article id="article" class="well">
            <h3 id="article_title" class="display-3 text-center">{{ article.title }}</h3>
            <p id="article_body">{{ article.body }}</p>
            <p id="article_date" class="text-right">publié le {{ article.date|date('d/m/Y \\à H:i:s') ~ ' par ' ~ article.blogger.username }}</p>
        </article>
        <section id="comments">
            <h2 class="display-2 text-center">Liste des commentaires</h2>
            {% for comment in comments %}
                <article class="comment well">
                    <p class="comment_text">{{ comment.text }}</p>
                    <p class="comment_date text-right">écrit le {{ comment.date|date('d/m/Y \\à H:i:s') }}</p>
                </article>
            {% else %}
                <article class="comment well">
                    <p class="comment_text">Il n'y a pas encore de commentaire...</p>
                    <p class="comment_date text-right">écrit le {{ 'now'|date('d/m/Y \\à H:i:s') }}</p>
                </article>
            {% endfor %}
            <section id="form">
                <h2 class="display-2 text-center">Écrire un commentaire</h2>
                {% if commentsForm is not null %}
                    <article class="well">
                        {{ form_start(commentsForm, { 'attr': { 'novalidate': 'novalidate' }}) }}
                            {{ form_widget(commentsForm) }}
                        {{ form_end(commentsForm) }}
                    </article>
                {% endif %}
            </section>
        </section>
    {% else %}
        <article id="article" class="well">
            <p id="article_body">Il n'y a pas encore d'article...</p>
        </article>
    {% endif %}
    </section>
{% endblock %}

{% block aside_right %}
    {% if article is not null %}
        <div id="others_articles" class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
            <h2 class="display-2">Liste des articles</h2>
            {% for articleTitle in articlesTitles %}
                <aside class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><p><a href="{{ path('insset_blog_front_default_index', { 'id': articleTitle.id }) }}">{{ articleTitle.title }}</a></p></aside>
            {% else %}
                <aside class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><p>Il n'y a pas encore d'autre article...</p></aside>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
